<!-- <h1>Hello</h1>
<app-rooms></app-rooms>
<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
</app-container>
<div #name>

</div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    Welcome User
  </div>
  <div *ngSwitchCase="'Admin'">
    <app-rooms></app-rooms> </div>
</div> -->
<!-- <div>
  <ng-template #user></ng-template>   // #user => template reference 
</div> -->
<!-- 
<a [routerLink]="'rooms'">Rooms</a><br/>
<a [routerLink]="'employee'">Employee</a> -->
<!-- <router-outlet></router-outlet> -->

 <!-- routerlink help us to achieve our page without reload of the page. It gives features of SPA -->


 <app-app-nav></app-app-nav>