/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.even {
    background-color: aqua;
    color: brown;
}

.odd {
    background-color: burlywood;
    color: aquamarine;
}