<p>booking works!</p>
{{ bookingForm.value | json }}

<div class="example-button-row">
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="addPassport()"
  >
    Add Passport
  </button>
</div>

<div class="example-button-row">
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="deletePassport()"
  >
    Delete Passport
  </button>
</div>
<form [formGroup]="bookingForm" class="example-form" (ngSubmit)="addBooking()">
  <mat-form-field
    class="example-full-width"
    *ngIf="bookingForm.get('passport')"
  >
    <mat-label>Passport</mat-label>
    <input
      type="text"
      matInput
      formControlName="passport"
      placeholder="Passport"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input
      type="text"
      matInput
      formControlName="roomId"
      placeholder="Room Id"
    />

    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="guestEmail"
      placeholder="Enter your email"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Guest Name</mat-label>
    <input
      type="text"
      matInput
      formControlName="guestName"
      placeholder="Guest Name"
    />
        <mat-error *ngIf="bookingForm.get('guestName')?.hasError('minlength')">
          Please enterr valid GuestName!
        </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Mobile Number</mat-label>
    <input
      type="number"
      matInput
      formControlName="mobileNumber"
      placeholder="Enter your mobile number"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Booking Amount</mat-label>
    <input
      type="number"
      matInput
      formControlName="bookingAmount"
      placeholder="Booking Amount"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Check-in Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="checkinDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Check-out Date</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="checkoutDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker1"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Booking Date</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="bookingDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker2"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <div formGroupName="address">
    <!-- <span>important for nested forms formGroupName</span> -->
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Address Data </mat-panel-title>
          <mat-panel-description> Type your Address </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="example-full-width">
          <mat-label>Address Line 1</mat-label>
          <input
            type="text"
            matInput
            formControlName="addressLine1"
            placeholder="Enter your Address Line 1"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address Line 2</mat-label>
          <input
            type="text"
            matInput
            formControlName="addressLine2"
            placeholder="Enter your Address Line 2"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input
            type="text"
            matInput
            formControlName="city"
            placeholder="Enter your city"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input
            type="text"
            matInput
            formControlName="state"
            placeholder="Enter your state"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Country</mat-label>
          <input
            type="text"
            matInput
            formControlName="country"
            placeholder="Enter your country"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Zip-Code</mat-label>
          <input
            type="text"
            matInput
            formControlName="zipCode"
            placeholder="Enter your zipcode"
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div formArrayName="guests">
    <div *ngFor="let guest of guests.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field class="example-full-width">
          <mat-label>Guest name</mat-label>
          <input
            type="text"
            matInput
            formControlName="guestName"
            placeholder="Guest Name"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Guest Age</mat-label>
          <input
            type="number"
            matInput
            formControlName="age"
            placeholder="Age"
          />
        </mat-form-field>
      </div>
      <div class="example-button-row">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="removeGuest(i)"
        >
          Remove Guest
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="example-button-row">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addGuest()"
    >
      Add Guest
    </button>
  </div>
  <div class="example-button-row">
    <button mat-raised-button color="primary" [disabled]="bookingForm.invalid">
      Book Room
    </button>
  </div>
</form>
